extends layout

block content
    h1.
        User List
    ul
        each user, i in userlist
            table
                tr
                    td= user.id
                    td a(href="mailto:#{user.email}")= user.email
                    td= user.first_name
                    td= user.last_name
                    td= user.picture