extends layout

block content
    // Wrapper
    #wrapper

        // USER LIST
        h2 User List
        #userList
            table
                thead
                    th ID
                    th Email
                    th First Name
                    th Last Name
                    th Picture
                tbody
                each user, i in userlist
                    tr
                        td= user._id
                        td= user.email
                        td= user.firstName
                        td= user.lastName
                        td= user.picture
